body{
    background-image:url("https://www.freepik.com/free-photo/indian-software-engineer-working-his-laptop_11309683.htm#query=front%20end%20developer&position=2&from_view=keyword&track=ais");
    background-repeat: no-repeat;
    background-size: cover;
}
.div flexitem1{
    
}